@import '../../common/colors.scss';
@import '../../common/responsive.scss';

.showsDetail{
    background-size: cover !important;
    backdrop-filter: blur(2rem) !important;

    span{
        color: #fff;
    }
    p{
        color: #fff;
    }
    &__wrapper{
        backdrop-filter: blur(.6rem);
        padding: 2rem 0;
    }
    
    &__sector{
        width: 100%;
        padding: 0 5rem;
        box-sizing: border-box;
            h3{
            margin: 1rem;
            font-size: 2rem;
            color: $white-cl;
            display: block;
            padding: 0 2rem;
            border-left: .3rem solid $yellow-cl;
        }
    }

    &__container{
        padding: 2rem 5rem;
        display: flex;
        gap: 3rem;
        background: transparent;
        .showsDetail__left{
            width: 20%;
            // box-shadow: $shadow;
            background-color: transparent;

            img{
                width: 100%;
                border-radius: .5rem;
                box-shadow: $shadow;
            }

        }
        .showsDetail__right{
            width: 70%;
            .showsDetail__description{
                width: 100%;
    
                &__title{
                    color: $white-cl;
                    display: block;
                    margin: 0;
                    text-align: center;
                    font-size: 2rem;
                }

                &__rate{
                    margin-top: 1rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                &__infor{
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                &__button{
                    background: $blue-cl;
                }
            }
        }
    }
    .network {
        display: flex;
        justify-content: left;
        width: 50%;
    }
    &__company{


        img{
            width: 100%;
        }
    }

    

    &__seasons{
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__card{
            width: 70%;
            background: rgba($pink-cl, 0.4);
            height: 10rem;
            display: flex;
            gap: 1rem;
            border-radius: .5rem;
            transition: .2s all ease-in;
            cursor: pointer;

            &:hover {
                transform: rotate(.75deg);
                background: rgba($pink-cl, 0.8);
                h3, span, p {
                    color: $blue-cl;
                }
            }

            &__image{
                height: 100%;
                border-radius: .5rem;
                overflow: hidden;

                img{
                    height: 100%;
                }
            }
            &__infor{
                h3 {
                    font-size: 1.8rem;
                    color: $white-cl;
                    margin: .5rem 0;
                }
                span{
                    font-size: 1.2rem;
                    color: $white-cl;
                    font-weight: 500;
                }
                p{
                    font-size: 1.2rem;
                    color: $white-cl;
                }
            }
        }
    }

    &__reviews{
        width: 100%;
        padding: 0 5rem;
        margin-top: 2rem;
        box-sizing: border-box;


        &__card{
            width: 80% !important;
            background: $purple-cl;
            aspect-ratio: 1/.85;
            border-radius: .5rem;
            padding: .5rem 1rem;
            margin-right: 2rem;

            &__header{
                width: 100%;
                display: flex;
                position: relative;
                gap: .5rem;

                &__img{
                    width: 20%;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__name{
                    font-size: 1.2rem;
                    color: $white-cl;

                }

                &__quote{
                    position: absolute;
                    font-size: 3.5rem;
                    color: $yellow-cl;
                    right: 0rem;
                    top: .5rem;
                }

            }

            &__content{
                overflow: scroll;
                scroll-behavior: smooth;
                overflow-x: hidden;
                overflow-y: hidden;
                p{
                    font-size: 1rem;
                    text-align: left;
                }
            }

            &__infor{
                p{
                    font-size: .8rem;
                    color: $white-cl;
                    opacity: .8;
                    margin: .2rem;
                }
            }
        }
    }

    &__similarMovies{
        padding: 0 5rem;
    }
}