@import '../../common/colors.scss';

.title{
    width: 100%;
    padding: 0 5rem;
    box-sizing: border-box;
    margin: 2rem 0;
        h3{
        margin: 1rem;
        font-size: 2rem;
        color: $white-cl;
        display: block;
        padding: 0 2rem;
        border-left: .3rem solid $yellow-cl;
    }
}