@import '../../common/colors.scss';
@import '../../common/responsive.scss';

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 2rem 0;
    @include mobile {
        margin: 1rem 0;
    }
        h3{
        margin: 1rem;
        @include mobile {
            font-size: 1.5rem;
        }
        font-size: 2rem;
        color: $white-cl;
        display: block;
        padding: 0 2rem;
        border-left: .3rem solid $yellow-cl;
        
        span{
            font-size: 1.5rem;
            font-style: italic;
        }
    }
}