@import '../../common/colors.scss';

.upComingMovies{
    height: 40rem;
    &__card {
        width: 100%;
        // height: 30rem

        &__container{
            width: 100%;
            height: 40rem;
            background-size: cover !important;
            transform: translateY(-1.5rem);
            background-color: rgba($color: #000000, $alpha: 0.8) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            &__description{
                width: 40%;
                h2{
                    font-size: 3rem;
                    color: $white-cl;
                    margin: 1rem 0;
                }
                p{
                    font-size: 1.3rem;
                    color: $white-cl;
                }

                &__button {
                    display: flex;
                    gap: 2rem;
                }
            }
            &__image{
                width: 20%;

                img{
                    width: 100%;
                    border-radius: .5rem;
                }
            }
        }
    }
}