@import '../../common/colors.scss';
@import '../../common/responsive.scss';

.topRatedMovies{

    &__container {
        display: flex;
        @include mobile{
        padding: 0 1rem;
        }
    }
    

    .topRatedMovies__movie{
        width: 20%;
        position: relative;
        display: flex;
        justify-content: right;

        .topRatedMovies__movie__number{
            position: absolute;
            // z-index: 1000;
            left: -.5rem;
            bottom: -2rem;
            @include mobile {
                display: none;
            }
            h1{
                font-size: 15rem;
                -webkit-text-stroke: .3rem $yellow-cl;
                color: transparent;
                margin: 0;
                @include mobile {
                    font-size: 5rem;
                    -webkit-text-stroke: .1rem $yellow-cl;
                }
                
            }
        }

        .topRatedMovies__movie__card{
            width: 65%;

            @include mobile {
                width: 100%;
            }
        }
    }
}