@import '../../variable.scss';

.NavBar{
    background: $yellow-cl;
    height: 5rem;
    display: flex;
    justify-content: center;
    gap: 20rem;

    h2{
        margin: 0;
        font-size: 2rem;
        color: $blue-cl;
        line-height: 5rem;
    }

    &__list{
        display: flex;
        gap: 2rem;

        &__item{
            font-size: 1.3rem;
            color: $purple-cl;
            text-decoration: none;
            line-height: 5rem;
            transition: .2s all ease-in-out;

            &:hover{
                color: $pink-cl;
            }
        }
    }
}