@import '../../common/colors.scss';

.Loading{
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    align-items: center;



    .linearLoading{

    }

    .circularLoading{

    }
    
}